body {
	font-family: Helvetica;
	font-size: 14px;
}

.tee-construct {
	position: absolute;

	.nav {
		width: 800px;
		height: 50px;
		border: #cbcbcd 1px solid;
		border-right: 0;
		margin: 0;
		padding: 0;
		font-size: 0;



		li {
			display: inline-block;
			width: 199px;
			height: 50px;
			padding: 0;
			margin: 0;
			border-right: #cbcbcd 1px solid;
			text-align: center;
		}

		li:nth-child(4) {
			border-right: #cbcbcd 1px solid;
		}

		li.active {
			background-color: #ffcc76;
		}

		li:after {
			content: '';
			display: block;
			position: relative;
			top: -24px;
			right: -19px;
			width: 35px;
			height: 35px;
			float: right;
			-webkit-transform: rotate(45deg);
			border-top: #cbcbcd 1px solid;
			border-right: #cbcbcd 1px solid;
			background-color: white;
		}


		li:nth-child(4):after,
		li.active:nth-child(4):after {
			border: 0;
			display: none;
		}

		li.active:after {
			content: '';
			display: block;
			position: relative;
			top: -25px;
			right: -19px;
			width: 36px;
			height: 36px;
			background-color: #ffcc76;
			float: right;
			-webkit-transform: rotate(45deg);

		}

		li a {
			display: block;

			text-decoration: none;
			font-family: Helvetica;
			font-size: 14px;
			font-weight: normal;
			color: #bcbcbc;
			margin-top: 15px;
		}

		li.active a {
			color: #803f15;
		}
	}


	.tools {
		margin-top: 15px;
		float: left;		
		width: 290px;

		> div {
			border: #cbcbcd 3px solid;
			margin-bottom: 10px;
			border-radius: 3px;
			padding: 10px;
		}


		.shirt-color p {
			margin: 10px 0;
			background-image: url('../img/ico-shirt.png');
			background-repeat: no-repeat;
			padding-left: 30px;
		}

		.shirt-editor {
			padding: 0;

			.tabs {
				background-color: #ececec;
				margin: 0;
				padding: 0;

				li.active {
					background-color: white;

					a {
						color: #000;
					}
				}

				li {
					width: 49%;
					height: 29px;

					display: inline-block;

					a {
						color: #a5a5a5;
						text-decoration: none;
						margin: 5px 0 0 15px;
						display: block;
					}
				}
			}

			.add-text, .add-art {
				display: none;
				margin: 10px;

				label {
					display: block;
				}
			}

			.add-text {
				form div {
					margin-bottom: 10px;
				}

				input[type=text],input[name=outline-size], select {
					width: 100%;
					font-size: 20px;
				}

				input[name=outline-size] {
					width: 30%;
				}

				.outline {
					display: none;
				}
			}

			.add-art {
				p {
					text-align: center;
					font-size: 20px;
					padding-top: 50px;
					height: 80px;
				}

				p.dropover {
					outline: #ccc 2px dashed;
				}
			}

			>.active {
				display: block;
			}
		}
	}


	.ops {
		font-size: 0;

		button {
			border: #bebebe 1px solid;
			background-color: #fcfcfc;
			color: #696969;
			height: 23px;
			margin-right: 1px;
		}

		button[name=reflect-x],
		button[name=reflect-y] {
			width: 23px;
			height: 23px;
			background-repeat: no-repeat;
			background-position: 2px 2px;
		}

		button[name=reflect-x] {
			background-image: url('../img/reflect-x.png');
		}

		button[name=reflect-y] {
			background-image: url('../img/reflect-y.png');
		}
	}


	.reflect-y {
		-webkit-transform: scalex(-1);
	}

	.reflect-x {
		-webkit-transform: scaley(-1);
		
	}

	.reflect-x.reflect-y {
		-webkit-transform: scale(-1, -1);
	}

	.elements > div > span {
		display: block;
	}

	.canvas.prerender {
		.printable {
			border: 0 !important;

			.elements {
				> div {
					outline: 0 !important;

					.ui-delete,
					.ui-drag,
					.ui-rotate,
					.ui-resizable-handle {
						display: none !important;
					}
				}
			}
		}

		.footer {
			display: none;
		}
	}

	.canvas.render {
		outline: 0;
		.printable {
			border: 0 !important;

			.elements {
				> div {
					outline: 0 !important;

					.ui-delete,
					.ui-drag,
					.ui-rotate,
					.ui-resizable-handle {
						display: none !important;
					}
				}
			}
		}

		.footer {
			display: none;
		}
	}

	.canvas {
		margin-top: 15px;

		position: absolute;
		right: 0;
		width: 470px;
		height: 500px;
		
		outline: #cbcbcd 3px solid;
		padding: 3px;

		.flip {
			background-image: url('../img/ico-flip.png');
			background-repeat: no-repeat;
			position: absolute;
			top: 515px;
			font-family: Arial;
			left: 180px;
			text-decoration: none;
			color: #000;
			font-size: 22px;
			padding-left: 40px;

		}


		.holder.zoom {
			> div {
				left: -40%;
				top: -35%;
				zoom: 1.75;
			}
		}
		.holder {
			position: absolute;
			overflow: hidden;
			width: 100%;
			height: 100%;

			> div {
				display: none;
				position: absolute;
				left: 0;
				top: 0;

				

				> div {
					> img {
						position: absolute;
						left: 0px;
						top: 0px;
					}
				}
			}

			> div.back {
				display: none;
			}

			> div.active {
				display: block;
			}

			> div.tee,
			> div.hoodie,
			> div.lady {
				.shirt img:nth-child(2),
				.shirt img:nth-child(3),
				.shirt img:nth-child(4),
				.shirt img:nth-child(5) {
					width: 470px;
					height: 500px;
				}

				.shirt img:first {
					width: auto;
					height: auto;
				}

				.shirt img.extra{
					width: auto;
					height: auto;
				}

				.shirt img.base,
				.shirt img.base.extra {
					width: 470px;
					height: 500px;
				}
			}

			.footer {
				position: relative;
				top: 230px;
				left: -1px;
				width: 185px;

				.note {
					color: white;
					font-size: 10px;
					padding: 3px;
					background-color: #cbcbcd;
					display: block;
					width: 70px;
				}
			}

			> div {
				> .printable.overflows {
					border: red 1px solid !important;
				}

				> .printable {
					position: relative;
					width: 185px;
					height: 230px;
					border: #cbcbcd 1px solid;
					top: 120px;
					left: 142px;

					.elements {
						width: 185px;
						height: 230px;
						position: absolute;

						> div {
							position: absolute;

							> span {
								cursor: default;
								white-space: nowrap;
							}
						}

						.current {
							outline: #808d9e dashed 1px;
						}
					}
				}

				.footer .zoom {
					position: absolute;
					right: -2px;
					top: 0;
					text-decoration: none;
					font-size: 9px;
					background-color: #fefefe;
					padding: 4px 4px 4px 20px;
					color: #000;
					background-image: url('../img/ico-zoom.png');
					background-repeat: no-repeat;
					background-position: 4px 4px;
				}
			}
		}
	}

	.rewind {
		position: absolute;
		clear: both;
		text-align: right;
		right: 0;
		top: 625px;

		button {
			background-color: #f7ac1b;
			text-transform: capitalize;
			padding: 19px 27px 17px 27px;
			font-size: 13px;
			font-weight: bold;
		}

		button[name=back] {
			visibility: hidden;
		}

		button[name=finish] {
			display: none;
			margin-right: 150px;
		}
	}

	.colors {
		font-size: 0;

		> div {
			// width: 20px;
			// height: 20px;
			width: 18px;
			height: 18px;
			border: #cbcbcd 1px solid;
			display: inline-block;
			margin-right: 2px;
			cursor: pointer;
		}

		.picker {
			padding-top: 11px;
			height: 9px;
			background-image: url('../img/color-picker.png');
			background-repeat: no-repeat;
			background-position: 2px 2px;
		}

		input[type=color] {
			width: 15px;
			height: 15px;
			top: -6px;
			left: 0px;
			opacity: 0;
			position: relative;
			padding: 0;
			margin: 0;
			border: 0;
		}
	}

	.tools > div {
		display: none;
	}
	

	.create {
		.tools .shirt-editor,
		.tools .shirt-color {
			display: block;
		}
	}

	.options {
		.tools .options {
			display: block;

			.option.tee p {
				background-image: url('../img/ico-shirt.png');
			}

			.option.hoodie p {
				background-image: url('../img/ico-hoodie.png');
			}

			.option.youth p {
				background-image: url('../img/ico-youth.png');
				background-position: 0 10px;
			}

			.option {
				hr {
					border: #dfdfdf 1px solid;
				}

				p {
					background-repeat: no-repeat;
					background-position: 0 7px;

					padding-left: 30px;
					line-height: 36px;

					label {
						float: right;

						input {
							height: 36px;
							width: 110px;
							font-size: 22px;
						}
					}
				}

				ul {
					padding: 0;
					list-style: none;
					font-size: 0;

					li {
						display: inline-block;
						width: 36px;
						height: 36px;
						margin-right: 6px;
						outline: #b5b5b5 dashed 1px;
						cursor: pointer;

						span {
							display: inline-block;
							color: #cacaca;
							font-size: 21px;
							margin: 5px 0px 0px 12px;
							visibility: hidden;
						}
					}

					li.empty {
						background-color: #ededed;

						span {
							visibility: visible;
						}
					}

					li.active {
						outline: #b5b5b5 solid 1px;
					}
				}
			}
		}
	}

	.description {
		.description {
			border: 0;
			display: block;

			label {
				p:nth-child(1) {
					b {
						font-weight: normal;
						font-size: 16px;
					}
					margin: 0;
				}

				p:nth-child(2) {
					margin: 2px 0;
					font-size: 12px;
					color: #989991;
				}

				input, select, textarea {
					width: 100%;
					height: 110px;
					font-size: 20px;
				}

				input, select {
					height: 30px;
				}

				em {
					display: block;
					font-size: 10px;
					color: #989991;
				}

				display: block;
				margin-bottom: 15px;
			}

			label.terms {
				outline: #b5b5b5 solid 1px;
				line-height: 50px;
				width: 275px;

				input {
					width: auto;
					margin-top: 10px;
					margin-left: 15px;
				}

				span {
					color: #6b6c71;
				}

				span, a {
					line-height: 51px;
					vertical-align: top;
				}
			}
		}
	}

	.final-stage {
		display: none;
	}

	.finish {
		.preview {
			display: block;
		}

		.tee-colors p {
			background-image: url('../img/ico-shirt.png');
		}

		.hoodie-colors p {
			background-image: url('../img/ico-hoodie.png');
		}

		.youth-colors p {
			background-image: url('../img/ico-youth.png');
		}

		.tee-colors,
		.hoodie-colors,
		.youth-colors {
			display: block;

			p {
				background-repeat: no-repeat;
				margin: 0;
				padding: 0;

				padding-left: 30px;
				line-height: 18px;

				label {
					float: right;

					input {
						height: 36px;
						width: 110px;
						font-size: 22px;
					}
				}
			}

			ul {
				padding: 0;
				list-style: none;
				font-size: 0;
				float: right;
				margin-top: 6px;

				li {
					display: inline-block;
					width: 24px;
					height: 24px;
					margin-right: 6px;
					margin-top: -10px;

					span {
						display: inline-block;
						color: #cacaca;
						font-size: 21px;
						margin: 5px 0px 0px 12px;
						visibility: hidden;
					}
				}
			}
		}

		.final-stage {
			display: block;
			position: absolute;
			left: 310px;
			top: 50px;

			h1 {
				color: #f09119;
				font-weight: normal;
			}

			p {
				color: #767571;
			}

			h3 {
				a {
					color: #f09119;
					font-weight: normal;
					text-decoration: none;
				}
			}

			h4 {
				color: #747474;
			}

			div {
				button[name=yes] {
					background-color: #f7ac1b;
					text-transform: capitalize;
					padding: 19px 27px 17px 27px;
					font-size: 13px;
					font-weight: bold;
				}

				button[name=no] {
					background-color: #e6e6e6;
					text-transform: capitalize;
					padding: 19px 27px 17px 27px;
					font-size: 13px;
					font-weight: bold;
				}
			}
		}
	}
}



.ui-rotate, .ui-drag, .ui-delete {
	position: absolute;
	width: 13px;
	height: 13px;
	display: none;
	background-position: 1px 1px;
}

.current .ui-rotate, .current .ui-drag, .current .ui-delete {
	display: block;
}

.ui-rotate {
	background-image: url('../img/ico-rotate.png');
	right: -7px;
	top: -7px;
	cursor: pointer;
}

.ui-drag {
	background-image: url('../img/ico-drag.png');
	left: -7px;
	top: -7px;
	cursor: move;
}

.ui-delete {
	background-image: url('../img/ico-delete.png');
	left: -7px;
	bottom: -7px;
	cursor: pointer;
}

.ui-icon-gripsmall-diagonal-se {
	background-image: url('../img/ico-resize.png');
	background-position: 1px 1px;
	background-color: white;
	width: 13px;
	height: 13px;
	bottom: -7px;
	right: -7px;
	display: none !important;
}

.current .ui-icon-gripsmall-diagonal-se {
	display: block !important;
}

#progress {
	display: none;
}

#progress.progress {
	position: absolute;
	top: 72px;
	left: 330px;

	background-color: white;
	width: 482px;
	height: 512px;
	display: block;
	z-index: 10000;

	h1 {
		color: #f09119;
		font-weight: normal;
		text-align: center;
		margin-top: 150px;
	}
}


// @import "fontselector.css";
