body {
	font-family: Helvetica;
	font-size: 14px;
}

.tee-construct {
	position: absolute;
}

.reflect-y {
	-webkit-transform: scaley(-1);
}

.reflect-x {
	-webkit-transform: scalex(-1);
}

.elements > div > span {
	display: block;
}


	.tee-construct .nav {
		width: 800px;
		height: 50px;
		border: #cbcbcd 1px solid;
		margin: 0;
		padding: 0;
	}

		.tee-construct .nav li {
			display: inline-block;
			width: 196px;
			height: 50px;
			padding: 0;
			margin: 0;
			border-right: #cbcbcd 1px solid;
			text-align: center;
		}

		.tee-construct .nav li:nth-child(4) {
			border-right: 0;
		}

		.tee-construct .nav li.active {
			background-color: #ffcc76;
		}

			.tee-construct .nav li a {
				display: block;

				text-decoration: none;
				font-family: Helvetica;
				font-size: 14px;
				font-weight: normal;
				color: #bcbcbc;
				margin-top: 15px;
			}

			.tee-construct .nav li.active a {
				color: #803f15;
			}



	.tee-construct .tools {
		margin-top: 15px;

		float: left;
		
		width: 290px;
	}

		.tee-construct .tools > div {
			border: #cbcbcd 3px solid;
			margin-bottom: 10px;
			border-radius: 3px;
			padding: 10px;
		}


		.tee-construct .tools .shirt-color p {
			margin: 10px 0;
			background-image: url('../img/ico-shirt.png');
			background-repeat: no-repeat;
			padding-left: 30px;
		}

	.tee-construct .canvas {
		margin-top: 15px;

		float: right;
		width: 470px;
		height: 500px;
		
		border: #cbcbcd 3px solid;
	}

		.tee-construct .canvas .flip {
			position: relative;
			top: 510px;
			font-family: Arial;
			left: 220px;
			text-decoration: none;
			color: #000;
		}

		/* front, back */
		.tee-construct .canvas > div {
			display: none;
		}

		.tee-construct .canvas > div.back {
			display: none;
		}

		.tee-construct .canvas > div.active {
			display: block;
		}

			.tee-construct .canvas > div > img {
				position: absolute;
			}

			.tee-construct .canvas > div.front > img.base {
				left: 400px;
				top: 100px;
			}

			.tee-construct .canvas > div.front > img.body {
				left: 527px;
				top: 100px;
			}

			.tee-construct .canvas > div.front > img.shadows {
				left: 400px;
				top: 100px;
			}

			.tee-construct .canvas > div.front > .printable {
				position: relative;
				width: 185px;
				height: 230px;
				border: #cbcbcd 1px solid;
				top: 120px;
				left: 150px;
			}

				.tee-construct .canvas > div.front > .printable .elements {
					width: 185px;
					height: 230px;
					position: absolute;
				}
					.tee-construct .canvas > div.front > .printable .elements > div {
						position: absolute;
					}

					.tee-construct .canvas > div.front > .printable .elements .current {
						border: #808d9e dashed 1px;
					}

					.ui-rotate, .ui-drag, .ui-delete {
						position: absolute;
						width: 13px;
						height: 13px;
						display: none;
					}

					.current .ui-rotate, .current .ui-drag, .current .ui-delete {
						display: block;
					}

					.ui-rotate {
						background-image: url('../img/ico-rotate.png');
						right: -7px;
						top: -7px;
					}

					.ui-drag {
						background-image: url('../img/ico-drag.png');
						left: -7px;
						top: -7px;
					}

					.ui-delete {
						background-image: url('../img/ico-delete.png');
						left: -7px;
						bottom: -7px;
					}

					.ui-icon-gripsmall-diagonal-se {
						background-image: url('../img/ico-resize.png');
						background-position: 0 0;
						width: 13px;
						height: 13px;
						bottom: -7px;
						right: -7px;
						display: none !important;
					}

					.current .ui-icon-gripsmall-diagonal-se {
						display: block !important;
					}



				.tee-construct .canvas > div.front > .printable .footer {
					position: relative;
					top: 230px;
					left: -1px;
					width: 185px;
				}
					.tee-construct .canvas > div.front > .printable .footer .note {
						color: white;
						font-size: 10px;
						padding: 3px;
						background-color: #cbcbcd;
						display: block;
						width: 70px;
					}

			.tee-construct .canvas > div.back > img.base {
				left: 385px;
				top: 100px;
			}

			.tee-construct .canvas > div.back > img.body {
				left: 537px;
				top: 100px;
			}

			.tee-construct .canvas > div.back > img.shadows {
				left: 385px;
				top: 100px;
			}

	.tee-construct .rewind {
		clear: both;
		text-align: right;
		padding-top: 40px;
	}

	.tee-construct .colors {
		font-size: 0;
	}
		.tee-construct .colors > div {
			width: 20px;
			height: 20px;
			border: #cbcbcd 1px solid;
			display: inline-block;
			margin-right: 3px;
			cursor: pointer;
		}

		.tee-construct .colors .picker {
			padding-top: 11px;
			height: 9px;
			background-image: url('../img/color-picker.png');
			background-repeat: no-repeat;
			background-position: 2px 2px;
		}

		.tee-construct .colors input[type=color] {
			width: 15px;
			height: 15px;
			top: -6px;
			left: 0px;
			opacity: 0;
			position: relative;
			padding: 0;
			margin: 0;
			border: 0;
		}


.tee-construct .tools .shirt-editor {
	padding: 0;
}
	.tee-construct .tools .shirt-editor .tabs {
		background-color: #ececec;
		margin: 0;
		padding: 0;
	}

		.tee-construct .tools .shirt-editor .tabs li.active {
			background-color: white;
		}
			.tee-construct .tools .shirt-editor .tabs li.active a {
				color: #000;
			}

		.tee-construct .tools .shirt-editor .tabs li {
			width: 49%;
			height: 29px;

			display: inline-block;
		}

			.tee-construct .tools .shirt-editor .tabs li a {
				color: #a5a5a5;
				text-decoration: none;
				margin: 5px 0 0 15px;
				display: block;
			}

			

	.tee-construct .tools .shirt-editor .add-text,
	.tee-construct .tools .shirt-editor .add-art {
		display: none;
		margin: 10px;
	}

	.tee-construct .tools .shirt-editor .add-text label {
		display: block;
	}

	.tee-construct .tools .shirt-editor > .active {
		display: block;
	}